
.boton {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px
}

.boton::before{
    content: 'Pasa por encima';
}

.boton:hover {
    color:white;
    background-color: green;
}

.boton:hover:after {
    content: 'Hecho!';

  }
  
.boton:hover:before {
    content: '!';
}
